<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Project</title>
   <link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
	/>
   <link rel="stylesheet" href="../css/style.css">
   <script src="https://kit.fontawesome.com/eb322f32b6.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>
      <div class="container">
         <div class="header__wrapper">
            <div class="header__item">
               <div class="logo">
                  <img src="../img/header/logo.svg" alt="">
                  <span>Fractal</span>
               </div>
               <nav>
                  <a href="#">Продукт</a>
                  <a href="#">Тариф</a>
                  <a href="#">Блог</a>
               </nav>
            </div>
            <div class="header__item">
               <button class="nonActive">Войти</button>
               <button>Начать бесплатно</button>
            </div>
         </div>
      </div>
   </header>
   <section class="dashboard">
      <div class="slider">
         <div class="image-slider swiper-container">
            <div class="image-slider__wrapper swiper-wrapper">
               <div class="image-slider__slide swiper-slide">
                  <div class="image-slider__image">
                     <h1>Дашборд проекта</h1>
                     <img src="../img/dashboard/slide_1.svg" alt="">
                  </div>
               </div>
               <div class="image-slider__slide swiper-slide">
                  <div class="image-slider__image">
                     <h1>Управление проектами</h1>
                     <img src="../img/dashboard/slide_2.svg" alt="">
                  </div>
               </div>
               <div class="image-slider__slide swiper-slide">
                  <div class="image-slider__image">
                     <h1>Управление задачами</h1>
                     <img src="../img/dashboard/slide_3.svg" alt="">
                  </div>
               </div>
            </div>
            <img class="next" src="../img/dashboard/next.svg" alt="">
            <img class="prev" src="../img/dashboard/prev.svg" alt="">
         </div>
      </div>
      <div class="dashboard__tasks">
         <h2>Все задачи, подзадачи и комментарии</h2>
         <div class="tasks__body">
            <p>Ключевые индикаторы проекта в одном месте. Интерактивная инфографика позволит вам отслеживать продуктивность членов команды наиболее быстрым и понятным образом. Мы предлагаем аналитику по каждому из сотрудников, по задачам и командам. </p>
            <ul>
               <li><img src="../img/dashboard/dot.svg" alt=""><span>Список задач</span></li>
               <li><img src="../img/dashboard/dot.svg" alt=""><span>Приоритеты и сроки</span></li>
               <li><img src="../img/dashboard/dot.svg" alt=""><span>Настраивамый фильтр</span></li>
               <li><img src="../img/dashboard/dot.svg" alt=""><span>Инфографика</span></li>
            </ul>
         </div>
         <span>Устанавливайте собственные критерии и ставьте новые цели для сотрудников, создайте свою уникальную систему повышения продуктивности компании.</span>
      </div>
   </section>
   <footer>
      <div class="requisites">
         <div class="container">
            <div class="requisites__body">
               <div class="requisites__column">
                  <h5>Продукт</h5>
                  <div class="requisites__link">
                     <a href="#">Обзор</a>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Тарифы</a>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Безопасность</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Интеграции</a>
                     <span>Скоро</span>
                  </div>
               </div>
               <div class="requisites__column">
                  <h5>О нас</h5>
                  <div class="requisites__link">
                     <a href="#">Вакансии</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Наши ценности</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Партнерская программа</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">HR & управление</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Agile</a>
                     <span>Скоро</span>
                  </div>
               </div>
               <div class="requisites__column">
                  <h5>Документы</h5>
                  <div class="requisites__link">
                     <a href="#">Лицензионное соглашение</a>
                  </div>
               </div>
               <div class="requisites__column">
                  <h5>Контакты</h5>
                  <div class="requisites__link">
                     <a href="#">197341, г. Санкт-Петербург, ул. Афонская, д. 2</a>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Email</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="social">
         <div class="container">
            <div class="social__row">
               <div class="logo">
                  <img src="../img/header/logo.svg" alt="">
                  <span>Fractal</span>
               </div>
               <div class="social__wrapper">
                  <a href="#">
                     <img src="../img/footer/social_1.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_2.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_3.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_4.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_5.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_6.svg" alt="#">
                  </a>
               </div>
            </div>
            <div class="social__row">
               <div class="copyright">
                  <span>© Fractal</span>
               </div>
               <div class="links">
                  <a href="#">Правила пользования</a>
                  <a href="#">Политика конфидеальности</a>
                  <a href="#">Управление Cookies</a>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>\
   <script src="../js/slider.js"></script>
</body>
</html>