<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Project</title>
   <link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
	/>
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
   <header>
      <div class="container">
         <div class="header__wrapper">
            <div class="header__item">
               <div class="logo">
                  <img src="../img/header/logo.svg" alt="">
                  <span>Fractal</span>
               </div>
               <nav>
                  <a href="#">Продукт</a>
                  <a href="#">Тариф</a>
                  <a href="#">Блог</a>
               </nav>
            </div>
            <div class="header__item">
               <button class="nonActive">Войти</button>
               <button>Начать бесплатно</button>
            </div>
         </div>
      </div>
   </header>
   <section class="openBlog">
      <div class="container">
         <div class="openBlog__content">
            <div class="openBlog__info">
               <span>
                  <div class="authorName">Фамиля Имя — </div><a href="#">Категория</a><div class="blogDate"> — Дата</div>
               </span>
            </div>
            <div class="openBlog__title">
               <h2>5 способов повысить эффективность для более результативной работы</h2>
            </div>
            <div class="openBlog__subTitle">
               <h5>Достижение всех поставленных целей до конца года приносит удовлетворение. Однако иногда их количество вызывает сомнения в своих способностях. Сейчас самое время напомнить себе, что можно работать эффективнее и использовать время более рационально. </h5>
            </div>
            <div class="openBlog__img">
               <img src="../img/openBlog/blog_1.svg" alt="">
            </div>
            <div class="openBlog__text">
               <p>Достижение всех поставленных целей до конца года приносит удовлетворение. Однако иногда их количество вызывает сомнения в своих способностях. Сейчас самое время напомнить себе, что можно работать эффективнее и использовать время более рационально.</p>
               <p>Американская компания Inc. предлагает пять советов, которые помогут улучшить производительность. Изучите свои особенности Знание своих особенностей важно как для сотрудников, так и для руководителей.</p>
               <p>Некоторым людям легче усваивать новую информацию на слух, другим - в письменном виде. Такие различия также отражаются на производительности.</p>
               <p>Поощряйте своих сотрудников обратить внимание на такие нюансы о себе. Сохраните самые важные задачи на те часы, когда ваша продуктивность находится на пике. Доверьте Делегирование и доверие идут рука об руку. Чтобы передать полномочия кому-то другому, нужно доверять людям, с которыми вы работаете. Если вы не делегируете часть задач, вы быстро начнете выгорать.</p>
               <p>Делегируйте все, что можете. Это освободит время для выполнения наиболее важных задач. При этом помните, что это не попытка избавиться от ответственности. Вы предоставляете команде возможность выполнять свою работу.</p>
               <p>Планируйте короткие встречи Нет ничего плохого в том, чтобы назначать встречу на 15-20 минут. Краткая встреча заставляет людей быстро переходить к делу.</p>
               <p>И еще одно важное замечание! Убедитесь, что встреча действительно необходима. Большинство вопросов можно решить по электронной почте или в телефонном разговоре. Откажитесь от многозадачности.</p>
               <p>Ознакомьтесь также с 3 правилами утренней продуктивности Некоторые люди чувствуют себя более продуктивными утром, другие - поздним вечером. Разберитесь, что подходит вам лучше.</p>
               <p>Чтобы собрание проходило по плану и заканчивалось вовремя, предоставьте подчиненным предварительный список тем. Так вам не потребуется тратить время на начальное объяснение.</p>
               <h3>Переключение между задачами требует времени и энергии.</h3>
               <p>Многозадачность создает хаос не только на рабочем столе, но и в мыслях. Когда ваше внимание разделено на несколько направлений, может быть сложно приступить к задаче и довести ее до конца.</p>
               <ul>
                  <li><span>Распланируйте свой день</span> так, чтобы каждая задача имела определенное время. Чтобы переход от одной задачи к другой был легче, делайте перерывы. Например, сделайте небольшую прогулку или выпейте чашку кофе, поговорите с близким человеком.</li>
                  <li><span>Пятиминутный отдых</span> поможет вам обновиться и с новыми силами приступить к новому проекту. Используйте режим "Не беспокоить" Работайте в автономном режиме!</li>
                  <li><span>Отключите уведомления</span> или переведите устройство в режим "Не беспокоить". Выделите время и место, чтобы просто делать то, что нужно. Это позволит вашему разуму сконцентрироваться на текущей задаче, не отвлекаясь на звонки, электронные письма, уведомления из социальных сетей и прочее.</li>
               </ul>
               <img src="../img/openBlog/blog_2.svg" alt="">
            </div>
         </div>
      </div>
   </section>
   <footer>
      <div class="requisites">
         <div class="container">
            <div class="requisites__body">
               <div class="requisites__column">
                  <h5>Продукт</h5>
                  <div class="requisites__link">
                     <a href="#">Обзор</a>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Тарифы</a>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Безопасность</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Интеграции</a>
                     <span>Скоро</span>
                  </div>
               </div>
               <div class="requisites__column">
                  <h5>О нас</h5>
                  <div class="requisites__link">
                     <a href="#">Вакансии</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Наши ценности</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Партнерская программа</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">HR & управление</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Agile</a>
                     <span>Скоро</span>
                  </div>
               </div>
               <div class="requisites__column">
                  <h5>Документы</h5>
                  <div class="requisites__link">
                     <a href="#">Лицензионное соглашение</a>
                  </div>
               </div>
               <div class="requisites__column">
                  <h5>Контакты</h5>
                  <div class="requisites__link">
                     <a href="#">197341, г. Санкт-Петербург, ул. Афонская, д. 2</a>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Email</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="social">
         <div class="container">
            <div class="social__row">
               <div class="logo">
                  <img src="../img/header/logo.svg" alt="">
                  <span>Fractal</span>
               </div>
               <div class="social__wrapper">
                  <a href="#">
                     <img src="../img/footer/social_1.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_2.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_3.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_4.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_5.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_6.svg" alt="#">
                  </a>
               </div>
            </div>
            <div class="social__row">
               <div class="copyright">
                  <span>© Fractal</span>
               </div>
               <div class="links">
                  <a href="#">Правила пользования</a>
                  <a href="#">Политика конфидеальности</a>
                  <a href="#">Управление Cookies</a>
               </div>
            </div>
         </div>
      </div>
   </footer>
</body>
</html>