<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Project</title>
   <link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
	/>
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
   <header>
      <div class="container">
         <div class="header__wrapper">
            <div class="header__item">
               <div class="logo">
                  <img src="../img/header/logo.svg" alt="">
                  <span>Fractal</span>
               </div>
               <nav>
                  <a href="#">Продукт</a>
                  <a href="#">Тариф</a>
                  <a href="#">Блог</a>
               </nav>
            </div>
            <div class="header__item">
               <button class="nonActive">Войти</button>
               <button>Начать бесплатно</button>
            </div>
         </div>
      </div>
   </header>
   <section class="rates">
      <div class="container">
         <div class="rates__header">
            <h1>Создавайте вместе</h1>
            <p>Fractal помогает командам любого размера лучше планировать и эффективнее завершать проекты. Бесплатно 14 дней.</p>
         </div>
         <div class="rates__body">
            <div class="rates__item">
               <h5>Бесплатный</h5>
               <div class="rates__price">
                  <h4>0</h4>
                  <span>₽</span>
               </div>
               <div class="rates__saving">
                  <p>ЭКОНОМИЯ 490</p>
                  <span>₽</span>
               </div>
               <div class="rates__conditions">
                  <p>Бесплатно, навсегда</p>
               </div>
               <ul>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>До 5 участников</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>До 3 проектов</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>Хранилище 1 ГБ на команду</p>
                     </div>
                     <span class="subcondition">
                        Файлы и скриншоты до 5 Мб
                     </span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>История действий с последними 10 задачами</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
               </ul>
            </div>
            <div class="rates__item">
               <h5>Бесплатный</h5>
               <div class="rates__price">
                  <h4>49</h4>
                  <span>₽</span>
               </div>
               <div class="rates__saving">
                  <p>ЭКОНОМИЯ 490</p>
                  <span>₽</span>
               </div>
               <div class="rates__conditions">
                  <p>За участника в месяц при оплате за год</p>
               </div>
               <ul>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>До 50 участников</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>Неограниченные проекты</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>Хранилище 5 ГБ на команду</p>
                     </div>
                     <span class="subcondition">
                        Файлы и скриншоты до 5 Мб
                     </span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>История действий с задачами за последнюю неделю</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>Создание приватных пространств</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
               </ul>
            </div>
            <div class="rates__item">
               <h5>Бесплатный</h5>
               <div class="rates__price">
                  <h4>99</h4>
                  <span>₽</span>
               </div>
               <div class="rates__saving">
                  <p>ЭКОНОМИЯ 1140</p>
                  <span>₽</span>
               </div>
               <div class="rates__conditions">
                  <p>За участника в месяц</p>
               </div>
               <ul>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>Неограниченное количество</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>Неограниченные проекты</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>Хранилище без ограничений</p>
                     </div>
                     <span class="subcondition">
                        Файлы и скриншоты до 5 Мб
                     </span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>История действий с задачами за последнюю неделю</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>Создание приватных пространств</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
                  <li>
                     <div class="tesis">
                        <img src="../img/dashboard/dot.svg" alt="">
                        <p>Приоритетная поддержка</p>
                     </div>
                     <span class="subcondition"></span>
                  </li>
               </ul>
            </div>
         </div>
         <button>Попробовать</button>
      </div>
   </section>
   <footer>
      <div class="requisites">
         <div class="container">
            <div class="requisites__body">
               <div class="requisites__column">
                  <h5>Продукт</h5>
                  <div class="requisites__link">
                     <a href="#">Обзор</a>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Тарифы</a>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Безопасность</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Интеграции</a>
                     <span>Скоро</span>
                  </div>
               </div>
               <div class="requisites__column">
                  <h5>О нас</h5>
                  <div class="requisites__link">
                     <a href="#">Вакансии</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Наши ценности</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Партнерская программа</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">HR & управление</a>
                     <span>Скоро</span>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Agile</a>
                     <span>Скоро</span>
                  </div>
               </div>
               <div class="requisites__column">
                  <h5>Документы</h5>
                  <div class="requisites__link">
                     <a href="#">Лицензионное соглашение</a>
                  </div>
               </div>
               <div class="requisites__column">
                  <h5>Контакты</h5>
                  <div class="requisites__link">
                     <a href="#">197341, г. Санкт-Петербург, ул. Афонская, д. 2</a>
                  </div>
                  <div class="requisites__link">
                     <a href="#">Email</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="social">
         <div class="container">
            <div class="social__row">
               <div class="logo">
                  <img src="../img/header/logo.svg" alt="">
                  <span>Fractal</span>
               </div>
               <div class="social__wrapper">
                  <a href="#">
                     <img src="../img/footer/social_1.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_2.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_3.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_4.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_5.svg" alt="#">
                  </a>
                  <a href="#">
                     <img src="../img/footer/social_6.svg" alt="#">
                  </a>
               </div>
            </div>
            <div class="social__row">
               <div class="copyright">
                  <span>© Fractal</span>
               </div>
               <div class="links">
                  <a href="#">Правила пользования</a>
                  <a href="#">Политика конфидеальности</a>
                  <a href="#">Управление Cookies</a>
               </div>
            </div>
         </div>
      </div>
   </footer>
</body>
</html>