<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Project</title>
   <link rel="stylesheet" href="../css/style.css">
   <script src="https://kit.fontawesome.com/eb322f32b6.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>
      <div class="container">
         <header>
            <div class="container">
               <div class="header__wrapper">
                  <div class="header__item">
                     <div class="logo">
                        <img src="../img/header/logo.svg" alt="">
                        <span>Fractal</span>
                     </div>
                  </div>
                  <div class="header__item registration">
                     <button>Войти</button>
                  </div>
               </div>
            </div>
         </header>
      </div>
   </header>
   <section class="form">
      <form action="#">
         <h1>Регистрация</h1>
         <div class="input">
            <input type="text" placeholder="Имя">
         </div>
         <div class="input">
            <input type="tel" placeholder="Телефон">
         </div>
         <div class="input">
            <input type="email" placeholder="Email">
         </div>
         <div class="input">
            <input type="text" placeholder="Пароль">
            <img src="../img/registration/eye-off.svg" alt="">
            <span>Поле обязательное</span>
            <span>Поле должно содержать минимум 8 символов</span>
            <span>Поле должно содержать и латинские буквы и цифры</span>
         </div>
         <div class="submit">
            <button>Зарегистрироваться</button>
            <p>Нажимая на кнопку Зарегистрироваться, я соглашаюсь с <a href="#">Политикой конфиденциальности</a></p>
         </div>
         <div class="signWith">
            <h5>Войти с помощью</h5>
            <div class="signWith__links">
               <a href="#">
                  <img src="../img/registration/yandex.svg" alt="">
                  <span>Яндекс</span>
               </a>
               <a href="#">
                  <img src="../img/registration/google.svg" alt="">
                  <span>Google</span>
               </a>
               <a href="#">
                  <img src="../img/registration/apple.svg" alt="">
                  <span>Apple</span>
               </a>
            </div>
         </div>
      </form>
   </section>
</body>
</html>